@{
    ViewData["Title"] = "Index";
}
@model dynamic


<div class="row">
<div class="col-md-6 col-xl-2">
    <div class="card">
        <div class="card-body">
            <div>
                <p class="text-muted mb-0">Aktif Renk Sayısı</p>
                <h5 class="mb-1 mt-1"><span data-plugin="counterup">@Model.activeProductsColorCount</span></h5>                
            </div> 
        </div>
    </div>
</div>

<div class="col-md-6 col-xl-2">
    <div class="card">
        <div class="card-body">
            <div>
                <p class="text-muted mb-0">Pasif Renk Sayısı</p>
                <h5 class="mb-1 mt-1"><span data-plugin="counterup">@Model.passiveProductsColorCount</span></h5>                
            </div> 
        </div>
    </div>
</div>
</div>

<div class="col-lg-12">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Ürün Renk Tablo</h4>
            <div class="table-rep-plugin">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover dataTable no-footer" id="ProductsColorTable" role="grid">

                        <thead>
                            <tr>
                                <th>Id</th>                            
                                <th>Name</th>
                                <th>Code</th>
                                <th>Aksiyonlar</th>

                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model._productColors)
                            {
                                <tr>
                                    <td>@item.Id</td>                               
                                    <td>@item.Name</td>
                                       <td>@item.Code</td>


                                    <td>
                                        <ul class="list-inline mb-0">

                                            <li class="list-inline-item">
                                                <a class="px-2 text-info" asp-controller="ProductsColor" asp-action="Details" asp-route-id="@item.Id">
                                                    <i class="uil uil-arrow-from-right font-size-18"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="px-2 text-primary" asp-controller="ProductsColor" asp-action="Update" asp-route-id="@item.Id">
                                                    <i class="uil uil-pen font-size-18"></i>
                                                </a>
                                            </li>
                                            <li class="list-inline-item">
                                                <a class="px-2 text-danger" data-bs-toggle="modal" data-bs-target="#modalDelete@(item.Id)">
                                                    <i class="uil uil-trash-alt font-size-18"></i>
                                                </a>
                                            </li>
                                 
                                        </ul>
                                    </td>
                                </tr>
                                <div class="modal fade" id="modalDelete@(item.Id)" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="myModalLabel">Renk @(item.Name) siliniyor.</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                   <strong>Renk:  @(item.Name)</strong>  kalicı olarak  <strong>silinecektir.</strong>
                                                   <strong>Renk Id: </strong> @(item.Id)<br>
                                                    
                                                </p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-light waves-effect" data-bs-dismiss="modal">iptal</button>
                                                <a type="button" class="btn btn-primary waves-effect waves-light" asp-controller="ProductsColor" method="post" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                                            </div>
                                        </div><!-- /.modal-content -->
                                    </div><!-- /.modal-dialog -->
                                </div>

                                <!-- /.modal -->
                            }

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>




</div>



@section Scripts{
    <script type="text/javascript">
        $(document).ready(function() {
            $('#ProductsColorTable').DataTable(

                {
                    language: {
                        info: "_TOTAL_ kayıttan _START_ - _END_ kayıt gösteriliyor.",
                        infoEmpty: "Gösterilecek hiç kayıt yok.",
                        loadingRecords: "Kayıtlar yükleniyor.",
                        zeroRecords: "Tablo boş",

                        search: "Arama:",
                        infoFiltered: "(toplam _MAX_ kayıttan filtrelenenler)",
                        buttons: {
                            copyTitle: "Panoya kopyalandı.",
                            copySuccess: "Panoya %d satır kopyalandı",
                            copy: "Kopyala",
                            print: "Yazdır",
                        },

                        paginate: {
                            first: "İlk",
                            previous: "Önceki",
                            next: "Sonraki",
                            last: "Son"
                        },
                    },
                    dom: 'Bfrltip',
                    buttons: [
                        'copy', 'excel', 'pdf', 'print'
                    ],
                    responsive: true

                }

            );
        });
    </script>
    }







